fastapi
uvicorn[standard]
python-multipart
filetype
python-magic
presidio-analyzer
pytest
httpx
sqlalchemy
psycopg2-binary
python-docx
openpyxl
pytesseract
Pillow
docx
gunicorn
PyMuPDF
python-pptx
FlagEmbedding
pgvector
torch
uuid
